/**********************************************
*
*
*    Colors
*
*
**********************************************/
.ss-amb1--form__wrapper,
.ss-amb1--form-results__wrapper {
  background-color: #fff;
}

.ss-amb1-legend,
.ss-amb1--results__title {
  background-color: #686868;
  color: #fff;
  text-align: center;
  white-space: normal;
}

.ss-amb1--form__wrapper .button-primary {
  padding: 1em 2em;

  background-color: #686868;
  border:  none;
  color: #fff;
  text-transform: uppercase;

  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  line-height: 1;
  height: auto;
}

.ss-amb1--form__wrapper .button-primary:hover {
  background-color: #686868;
}

/**********************************************
*
*
*    Core Theme
*
*
**********************************************/

.ss-amb1--wrapper {
  display: table;
  position: relative;
  width: 100%;
}

.ss-amb1--form__wrapper::after {
  content: '';
  display: table;
  clear:  both;
}

.ss-amb1--form__wrapper,
.ss-amb1--form-results__wrapper {
  padding: 1em;

  font-family: sans-serif;
}

.ss-amb1-legend,
.ss-amb1--results__title {
  margin: 1em 0;
  padding: .5em;
}

@media screen and (min-width: 0) {
  .ss-amb1--form__wrapper .button-primary {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .ss-amb1--form__wrapper .button-primary {
    margin-left: 0;
    margin-top: 10px;
    padding: 1em;
    width:  100%;
  }
}

/**********************************************
*
*    Ages Style
*
**********************************************/
.ss-amb1--ages__wrapper {
  clear: both;
}

.ss-amb1--ages__wrapper .ss-amb1-field__wrapper {
  display: inline-block;
  margin-left: .5em;
  margin-right: 0 !important;
  width: 22% !important;
}

.ss-amb1--ages__wrapper .ss-amb1-field__wrapper:first-child {
  margin-left: 0;
}

/**********************************************
*
*    Fields Style
*
**********************************************/

.ss-amb1-field__wrapper input[type="text"],
.ss-amb1-field__wrapper input[type="email"],
.ss-amb1-field__wrapper input[type="tel"],
.ss-amb1-field__wrapper input[type="number"],
.ss-amb1-field__wrapper select,
.ss-amb1-field__label {
  display: block;
  height: 2em;
  margin: 0;
  width:  100%;
}

.ss-amb1-field__wrapper input[type="text"],
.ss-amb1-field__wrapper input[type="email"],
.ss-amb1-field__wrapper input[type="tel"],
.ss-amb1-field__wrapper input[type="number"],
.ss-amb1-field__wrapper select {
  border: solid 1px #ccc;
  min-height: 26px;

  font-family: sans-serif;
}

.ss-amb1-field__wrapper select {
  font-size: .9em;
}

.ss-amb1-field__wrapper input[type="text"],
.ss-amb1-field__wrapper input[type="email"],
.ss-amb1-field__wrapper input[type="tel"],
.ss-amb1-field__wrapper input[type="number"] {
  padding: 1em 0.7em 0.5em 0.7em;
}

.ss-amb1-field__label {
  position: absolute;
  margin: 5px 5px 5px 10px;
  width: auto;

  font-size: .8em;
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}

.ss-amb1-field__wrapper.is-active .ss-amb1-field__label {
  font-size: 8px;
  margin: 0 0 0 10px;
}

.title-nofloat {
  position: static;
  margin:  0 0 0 10px;
  height: auto;
}

@media screen and (min-width: 0) {
  .ss-amb1-field__wrapper {
    display: block;
    float: left;
    margin-bottom: .5em;
    margin-top: .5em;
    position: relative;
    width: 100%;
  }

  .ss-amb1-field__wrapper:nth-child(even) {
    margin-right: 1em;
  }

  .ss-amb1-field__wrapper select {
    height: 40px;
  }
}

@media screen and (min-width: 700px) {
  .ss-amb1-field__wrapper {
    width: 50%;
  }

  .ss-amb1-field__wrapper:nth-child(even) {
    margin-right: 1em;
    width: calc(50% - 1em);
  }

  .ss-amb1-field__wrapper select {
    height: 30px;
  }
}

/* .ss-amb1-field__wrapper:nth-child(4n+1) {
  margin-left: 0;
} */

.ss-amb1-field__wrapper--block {
  width:  100% !important;
}
